.h1 {
    font-size: 55px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7rem;
}

.box {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    padding: 0 10rem;
}

.btn {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.txtBox {
    text-align: left;
    
}

.img {
    width: 30rem;
    height: 30rem;
}
